.first__section h1{
    font-family: $fontFamily1;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-bottom: 20px ;
    padding-top: 223px;
  }
  .first__section h5{
    font-family: $fontFamily1;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
  }
  .first__section .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.first__section-arrow{
    display: flex;
    justify-content: center;
    padding-top: 240px;
    padding-bottom: 50px;
}
.first-article{
  margin-bottom: 152px;
}
.first-article__line{
    @include line
    
}
.first-article__title{
    margin-bottom: 89px;
    margin-top: 30px;
    font-family:$fontFamily1;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color:$fontColor1;
}
.first-article__contains{
  display: flex;
 flex-direction: row;
  float: left;
}
.first-article__image{
    margin-right: 95px;
    margin-left: -292px;
    float: left;
    
}
.first-article__oneWorld{
    margin-top: -44px
}
.first-article__title1{
  @include small--title
}
.first-article__title2{
  @include second-title;
    margin-bottom: 19px;
}

.first-article__p{
    @include text;
    padding-bottom: 41px;
}

.fa_button{
    @include button;
    
}

.first-article__location{
    margin-top: 60px;
    display: flex;
    flex-direction:row ;
    font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
}


//second article
  .second-article__contains{
  display: flex;
  justify-content: center;
  align-items: center;
  }
.second-article{
  padding-top: 467px;
}
.second-article__oneWorld{
  padding-bottom: 198px;
}
.second-article__title{
    margin-bottom: 89px;
    font-family:$fontFamily1;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color:$fontColor1;
    
}
.second-article__contains{
    display: flex;
    flex-direction: row;
}

.second-article__image{
  float: left;
}

.second-article__title1{
  @include small--title
}
.second-article__title2{
  @include second-title;
    margin-bottom: 19px;
}

.second-article__p{
    @include text;
    padding-bottom: 41px;
}

.fa_button{
    @include button;
    
}

.second-article__location{
    margin-top: 60px;
    display: flex;
    flex-direction:row ;
    font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
}
.second-article{
  &{
    position: relative;

  }
  &__image {
    width: 50%;
    margin-right: 0px;
}
& .wwd__article2 {
    margin-right: 80px;    
}
& .wwd__rectangle2 {
    position: absolute;
    right: -5.4%;
    top: -65px;
    z-index: -1;
}
}

.wwd {
  & {
      position: relative;
      margin-bottom: 140px;
  }
  &__first {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 146px;
      & h2 {
          font-weight: 700;
          font-size: 44px;
          line-height: 54px;
          text-align: center;
          color: #2C4058;;
          padding-right: 70px;
      }
  }
  &__line {
      margin-top: 60px;
      color:#2C4058;;
      margin-bottom: 30px;
  }
  &__second {
      display: flex;
  }
  & img {
      margin-right: 80px;
  }
  &__article {
      & h6 {
          padding-top: 94px;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #2C4058;;
      }
      & h3 {
          font-weight: 700;
          font-size: 44px;
          line-height: 54px;
          color:#2C4058;;
          margin-bottom: 19px;
      }
      & p {
          font-weight: 400;
          font-size: 18px;
          line-height: 167%;
          color:#2C4058;;
          margin-bottom: 41px;
      }
      & .p-italic {
          margin-top: 60px;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #000;
      }
      & p.italic::before {
          content: url('../assets/location.svg');
          padding-right: 5px;
      }
  }
  &__button {
      @include button;
  }
  
  &__rectangle {
      position: absolute;
      z-index: -1;
      top: 234px;

  }
}

.wwd2 {
  
  & .wwd_image2 {
      width: 50%;
      margin-right: 0px;
     
  }
  & .wwd__article2 {
      margin-right: 80px;    
  }
  & .wwd__rectangle2 {
      position: absolute;
      right: -5.4%;
      top: -65px;
      z-index: -1;
  }
 
}
