.latest-news {
    & {
    background:linear-gradient(243.43deg, #6442ddd1 16.9%, #49A3E3 83.27%), url(../assets/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 291px;
    }
    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 89px;
        margin-top: 39px;
    }
    &__vija {
        margin-left: 530px;
        margin-top: 135px;
    }
    & .item {
        background-color: white;
        width: 370px;
        display: flex;
        flex-direction: column;
        padding-bottom: 36px;
        & .latest-news__author{
            width: 186px;
            height: 60px;
            padding-left: 41px;
        }
         & h4 {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 30px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color:#2C4058;
        margin-bottom: 30px;
    }
    & p {
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #2C4058;
        margin-bottom: 40px;
    }
}

   
  
}
img{
    max-width: 100%;
    height: auto;
  }