/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.header__list {
  display: flex;
  align-items: center;
  padding-top: 53px;
}

.background-header__picture {
  background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49A3E3 83.27%), url(../assets/header-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

img {
  max-width: 100%;
  height: auto;
}

.header__link a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.header__logo {
  margin-right: 144px;
}

.header__link:first-child {
  margin-right: 144px;
}

.header__link:nth-child(2), .header__link:nth-child(3), .header__link:nth-child(4) {
  margin-right: 70px;
}

.header__link:nth-child(5) {
  margin-right: 110px;
}

.header__link:nth-child(6), .header__link:nth-child(7) {
  margin-right: 20px;
}

.header__link:nth-child(2)::before, .header__link:nth-child(3)::before, .header__link:nth-child(4)::before, .header__link:nth-child(5)::before {
  content: url("../assets/circle.svg");
  padding-right: 14px;
}

.header__link:nth-child(2):hover::before, .header__link:nth-child(3):hover::before, .header__link:nth-child(4):hover::before, .header__link:nth-child(5):hover::before {
  content: url("../assets/circle2.svg");
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.first__section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 223px;
}

.first__section h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.first__section .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.first__section-arrow {
  display: flex;
  justify-content: center;
  padding-top: 240px;
  padding-bottom: 50px;
}

.first-article {
  margin-bottom: 152px;
}

.first-article__line {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.first-article__title {
  margin-bottom: 89px;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.first-article__contains {
  display: flex;
  flex-direction: row;
  float: left;
}

.first-article__image {
  margin-right: 95px;
  margin-left: -292px;
  float: left;
}

.first-article__oneWorld {
  margin-top: -44px;
}

.first-article__title1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin-top: 240px;
  font-family: "Montserrat", sans-serif;
}

.first-article__title2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}

.first-article__p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  padding-bottom: 41px;
}

.fa_button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C4058;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
}
.fa_button:hover {
  background-color: #2C4058;
  color: #FFFFFF;
  transition: 0.3s;
}

.first-article__location {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.second-article__contains {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-article {
  padding-top: 467px;
}

.second-article__oneWorld {
  padding-bottom: 198px;
}

.second-article__title {
  margin-bottom: 89px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.second-article__contains {
  display: flex;
  flex-direction: row;
}

.second-article__image {
  float: left;
}

.second-article__title1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin-top: 240px;
  font-family: "Montserrat", sans-serif;
}

.second-article__title2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}

.second-article__p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  padding-bottom: 41px;
}

.fa_button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C4058;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
}
.fa_button:hover {
  background-color: #2C4058;
  color: #FFFFFF;
  transition: 0.3s;
}

.second-article__location {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.second-article {
  position: relative;
}
.second-article__image {
  width: 50%;
  margin-right: 0px;
}
.second-article .wwd__article2 {
  margin-right: 80px;
}
.second-article .wwd__rectangle2 {
  position: absolute;
  right: -5.4%;
  top: -65px;
  z-index: -1;
}

.wwd {
  position: relative;
  margin-bottom: 140px;
}
.wwd__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 146px;
}
.wwd__first h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
  padding-right: 70px;
}
.wwd__line {
  margin-top: 60px;
  color: #2C4058;
  margin-bottom: 30px;
}
.wwd__second {
  display: flex;
}
.wwd img {
  margin-right: 80px;
}
.wwd__article h6 {
  padding-top: 94px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.wwd__article h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}
.wwd__article p {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #2C4058;
  margin-bottom: 41px;
}
.wwd__article .p-italic {
  margin-top: 60px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}
.wwd__article p.italic::before {
  content: url("../assets/location.svg");
  padding-right: 5px;
}
.wwd__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C4058;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
}
.wwd__button:hover {
  background-color: #2C4058;
  color: #FFFFFF;
  transition: 0.3s;
}
.wwd__rectangle {
  position: absolute;
  z-index: -1;
  top: 234px;
}

.latest-news {
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%), url("../assets/city.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 291px;
}
.latest-news__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 89px;
  margin-top: 39px;
}
.latest-news__vija {
  margin-left: 530px;
  margin-top: 135px;
}
.latest-news .item {
  background-color: rgb(252, 252, 252);
  width: 370px;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
}
.latest-news .item .latest-news__author {
  width: 186px;
  height: 60px;
  padding-left: 41px;
}
.latest-news .item h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin-top: 240px;
  font-family: "Montserrat", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin-bottom: 30px;
}
.latest-news .item p {
  font-family: "Source Sans Pro", sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 40px;
}
.latest-news .news-personalities {
  display: flex;
}
.latest-news .news-personalities {
  width: 253px;
  height: 73px;
  padding-left: 41px;
}
.latest-news .latest-news__authors h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
}
.latest-news .latest-news__authors p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}
.latest-news .owl-one .owl-dot {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -5%;
  top: -10%;
}

.gallery {
  padding-top: 100px;
  margin: 0 13% 139px 13%;
}
.gallery .title {
  margin-top: 30px;
  margin-bottom: 87px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery__grid-left {
  display: grid;
  justify-items: end;
}
.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 60px;
}
.gallery__grid-right {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
}
.gallery__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C4058;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
}
.gallery .button:hover {
  background-color: #2C4058;
  color: #FFFFFF;
  transition: 0.3s;
}

.contact {
  position: relative;
}
.contact img {
  width: 100%;
}
.contact .title {
  margin-top: 60px;
  margin-bottom: 30px;
}
.contact__list {
  display: flex;
  align-items: center;
}
.contact__list1::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/location.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list2::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/phone.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list3::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/inbox.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list4::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/clock.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__form {
  margin-left: 63px;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 0px 60px 69px 60px;
  top: 65%;
  left: 26%;
}
.contact__form-info {
  display: flex;
}
.contact__form-list {
  margin-right: 54px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
}
.contact__form-input {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.contact input {
  margin-bottom: 33px;
  padding-bottom: 14px;
  padding-right: 80px;
  border: none;
  border-bottom: 1px solid #4B5562;
  color: #4B5562;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.contact .button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2C4058;
  text-decoration: none;
  padding: 16px 41px;
  border: 1px solid black;
  padding: 11px 34px;
  margin-left: 177px;
}
.contact .button:hover {
  background-color: #2C4058;
  color: #FFFFFF;
  transition: 0.3s;
}

.footer {
  background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49A3E3 83.27%), url(../assets/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -8px;
}
.footer__wrapper {
  padding: 254px 0 291px 47px;
}
.footer__copyright {
  padding-top: 41px;
  padding-left: 20%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__list {
  display: flex;
  align-items: center;
  margin-left: 250px;
}
.footer .logo {
  margin-right: 20px;
}
.footer .icon {
  margin-right: 300px;
}

img {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */